build/
build-web/
raylib/
raylib-src/
sfml/
*.o
*.obj
*.exe
*.pdb
*.ilk
*.exp
*.lib
*.a
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
_test.i
_test2.i
build_output.txt
*.bak
records.txt
settings.txt
